<div [@load] class = 'container text-center'>

  <hr>
  <button class = 'w-25'
          disabled
          mat-raised-button
          (click) = 'selected = "time"'
          routerLink = 'time-req'
          [color] = 'selected === "time" ? "primary" : "accent"'
          routerLinkActive = 'selected'>
    Work Logs
  </button>
  &nbsp;&nbsp;
  <button class = 'w-25'
          mat-raised-button
          (click) = 'selected = "leave"'
          routerLink = 'leave-req'
          [color] = 'selected === "leave" ? "primary" : "accent"'
          routerLinkActive = 'selected'>
    Leave Requests
  </button>
  &nbsp;&nbsp;
  <button class = 'w-25'
          mat-raised-button
          (click) = 'selected = "users"'
          routerLink = 'users'
          [color] = 'selected === "users" ? "primary" : "accent"'
          routerLinkActive = 'selected'>
    Users
  </button>
  <hr>
  <br>
  <br>
  <router-outlet></router-outlet>
</div>
