<mat-toolbar color = "primary">
  <mat-card-title
    style = "margin-right: 25px;">{{companyName}}</mat-card-title>
  <button mat-button routerLink = "/home" routerLinkActive = "selected">Home
  </button>
  <button mat-button routerLink = "/time-sheet" routerLinkActive = "selected">
    Timesheet
  </button>
  <button mat-button routerLink = "/annual-leave" routerLinkActive = "selected">
    Annual Leave
  </button>
  <button *ngIf = "isAdmin" mat-button routerLink = "/admin"
          [matBadge] = "adminReq + sheetReq +
          leaveReq > 0 ? adminReq + sheetReq +
          leaveReq: ''" matBadgeColor = "warn" matBadgePosition = "above after"
          routerLinkActive = "selected">
    Admin
  </button>
  <button (click) = "onLogout()" mat-button routerLinkActive = "selected">
    Logout
  </button>
</mat-toolbar>
