<div>
  <h1 class = "text-center">Time Sheets</h1><br>
  <div [@load]>
    <mat-table [dataSource] = "dataSource" class = "mat-elevation-z8">

      <!--    Select Column -->
      <ng-container matColumnDef = "select">
        <mat-header-cell *matHeaderCellDef>Select</mat-header-cell>
        <mat-cell *matCellDef = "let element">
          <mat-radio-group [(ngModel)] = "selectedReq">
            <mat-radio-button [value] = "element"
                              color = "warn"></mat-radio-button>
          </mat-radio-group>
        </mat-cell>
      </ng-container>

      <!-- Employee ID Column -->
      <ng-container matColumnDef = "empName">
        <mat-header-cell *matHeaderCellDef>Employee Name</mat-header-cell>
        <mat-cell *matCellDef = "let element"> {{ element.empName }}
        </mat-cell>
      </ng-container>

      <!-- Log Date Column -->
      <ng-container matColumnDef = "logDate">
        <mat-header-cell *matHeaderCellDef>Log Date</mat-header-cell>
        <mat-cell *matCellDef = "let element"> {{ element.logDate }} </mat-cell>
      </ng-container>

      <!-- Work Column -->
      <ng-container matColumnDef = "work">
        <mat-header-cell *matHeaderCellDef>Work</mat-header-cell>
        <mat-cell *matCellDef = "let element"> {{ element.work }} </mat-cell>
      </ng-container>

      <!-- Start Time Column -->
      <ng-container matColumnDef = "startTime">
        <mat-header-cell *matHeaderCellDef>Start Time</mat-header-cell>
        <mat-cell
          *matCellDef = "let element"> {{ element.startTime }} </mat-cell>
      </ng-container>

      <!-- End Time Column -->
      <ng-container matColumnDef = hours>
        <mat-header-cell *matHeaderCellDef>Hours Logged</mat-header-cell>
        <mat-cell *matCellDef = "let element"> {{ element.hours }} </mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef = "status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef = "let element"
                  [matBadge] = "element.status === 'Pending' ? '^':''"
                  matBadgeColor = "warn"> {{ element.status }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef = "displayedColumns"></mat-header-row>
      <mat-row *matRowDef = "let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator (page) = "updateTable($event)" [length] = "worklogs.length"
                   [pageSizeOptions] = "[5, 50, 250, 1000]" [pageSize] = "5"
                   color = "primary" showFirstLastButtons></mat-paginator>
    <br>
    <br>
    <div class = "text-center">
      <button (click) = "changeStatus(true)" [disabled] = "!selectedReq"
              [textContent] = "'Approve'"
              color = "primary" mat-raised-button></button>
      &nbsp;&nbsp;
      <button (click) = "changeStatus(false)" [disabled] = "!selectedReq"
              [textContent] = "'Decline'"
              color = "accent" mat-raised-button></button>
      <!--      &nbsp;&nbsp;-->
      <!--      <button (click) = "removeReq()" [disabled] = "!selectedReq"-->
      <!--              [textContent] = "'Remove'"-->
      <!--              color = "warn" mat-raised-button></button>-->
    </div>
  </div>
  <br>
  <div [@load] class = "text-center">
    <fusioncharts
      [chartConfig] = "chartConfig"
      [dataSource] = "dataSet"
      containerBackgroundColor = "lightgrey">
    </fusioncharts>
  </div>
</div>
