<!--<div *ngIf = "dataSource">-->
<!--  <div [@load]>-->
<!--    <h3 class = "text-center">Employee List</h3>-->
<!--    <br>-->

<!--    <mat-table [dataSource] = "dataSource" class = "mat-elevation-z8">-->
<!--      &lt;!&ndash;    Select Column &ndash;&gt;-->
<!--      <ng-container matColumnDef = "select">-->
<!--        <mat-header-cell *matHeaderCellDef> Select</mat-header-cell>-->
<!--        <mat-cell *matCellDef = "let element">-->
<!--          <mat-radio-group [(ngModel)] = "selectedReq">-->
<!--            <mat-radio-button [value] = "element" color = "warn"-->
<!--            ></mat-radio-button>-->
<!--          </mat-radio-group>-->
<!--        </mat-cell>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; Employee ID Column &ndash;&gt;-->
<!--      <ng-container matColumnDef = "empId">-->
<!--        <mat-header-cell *matHeaderCellDef>Employee Id.</mat-header-cell>-->
<!--        <mat-cell *matCellDef = "let element"> {{ element.empId }} </mat-cell>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; Title Column &ndash;&gt;-->
<!--      <ng-container matColumnDef = "DOB">-->
<!--        <mat-header-cell *matHeaderCellDef>Date of Birth</mat-header-cell>-->
<!--        <mat-cell *matCellDef = "let element"> {{ element.DOB }} </mat-cell>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; Name Column &ndash;&gt;-->
<!--      <ng-container matColumnDef = "empName">-->
<!--        <mat-header-cell *matHeaderCellDef>Employee Name</mat-header-cell>-->
<!--        <mat-cell-->
<!--          *matCellDef = "let element"> {{ element.empName }} </mat-cell>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; Email Column &ndash;&gt;-->
<!--      <ng-container matColumnDef = "empEmail">-->
<!--        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>-->
<!--        <mat-cell-->
<!--          *matCellDef = "let element"> {{ element.empEmail }} </mat-cell>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; IsAdim Column &ndash;&gt;-->
<!--      <ng-container matColumnDef = "isAdmin">-->
<!--        <mat-header-cell *matHeaderCellDef>Admin?</mat-header-cell>-->
<!--        <mat-cell *matCellDef = "let element"> {{ element.isAdmin }}-->
<!--        </mat-cell>-->
<!--      </ng-container>-->

<!--      &lt;!&ndash; Status Column &ndash;&gt;-->
<!--      <ng-container matColumnDef = "adminStatus">-->
<!--        <mat-header-cell *matHeaderCellDef>Admin Status</mat-header-cell>-->
<!--        <mat-cell *matCellDef = "let element"> {{ element.adminStatus }}-->
<!--        </mat-cell>-->
<!--      </ng-container>-->

<!--      <mat-header-row *matHeaderRowDef = "displayedColumns"></mat-header-row>-->
<!--      <mat-row *matRowDef = "let row; columns: displayedColumns"></mat-row>-->
<!--    </mat-table>-->
<!--    <mat-paginator (page) = "updateTable($event)" [length] = "emps.length"-->
<!--                   [pageSizeOptions] = "[5, 10, 50]" [pageSize] = "5"-->
<!--                   color = "primary"-->
<!--                   showFirstLastButtons></mat-paginator>-->
<!--    <br>-->
<!--    <br>-->
<!--    <div class = "text-center">-->
<!--      <button (click) = "changeAdmin(true)" [disabled] = "!selectedReq"-->
<!--              [textContent] = "'Approve'" color = "primary" mat-raised-button>-->
<!--      </button>-->
<!--      &nbsp; &nbsp;-->
<!--      <button (click) = "changeAdmin(false)" [disabled] = "!selectedReq"-->
<!--              [textContent] = "'Decline'" color = "accent" mat-raised-button>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<br>-->
<!--<hr>-->
<!--<br>-->
<!--<mat-tab-group>-->
<!--  <mat-tab label = "Pie">-->
<!--    <div style = "display: block">-->
<!--      <canvas [chartType] = "pieChartType"-->
<!--              [colors] = "pieChartColors"-->
<!--              [data] = "pieChartData"-->
<!--              [labels] = "pieChartLabels"-->
<!--              [legend] = "pieChartLegend"-->
<!--              [options] = "pieChartOptions"-->
<!--              [plugins] = "pieChartPlugins"-->
<!--              baseChart>-->
<!--      </canvas>-->
<!--    </div>-->
<!--  </mat-tab>-->
<!--  <mat-tab label = "Bar">-->
<!--    <div style = "display: block">-->
<!--      <canvas [chartType] = "barChartType"-->
<!--              [colors] = "barChartColors"-->
<!--              [datasets] = "barChartData"-->
<!--              [labels] = "barChartLabels"-->
<!--              [legend] = "barChartLegend"-->
<!--              [options] = "barChartOptions"-->
<!--              [plugins] = "barChartPlugins"-->
<!--              baseChart-->
<!--      >-->
<!--      </canvas>-->
<!--    </div>-->

<!--  </mat-tab>-->
<!--</mat-tab-group>-->
<div>
  <mat-grid-list cols = 3 gutterSize = "1" rowHeight = "1:1.55">
    <mat-grid-tile *ngFor = "let e of emps" [@load]>
      <app-employee-card [emp] = e
                         [matBadge] = "e.adminStatus === 'Pending' ? '1': ''"
                         matBadgeColor = "warn" matBadgePosition = "above after"
                         matBadgeSize = "large">
      </app-employee-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
