<div class = "row">
  <h1 class = "text-center">Employee List</h1>
  <hr>
  <!--  Employee List-->
  <div class = "pull-right">
    <button (click) = "switchStyle()" aria-label = "Style selector button"
            mat-raised-button>
      <i *ngIf = "listView" class = "material-icons"
         style = "color: rebeccapurple;">view_list
      </i>
      <i *ngIf = "!listView" class = "material-icons"
         style = "color: rebeccapurple;">view_module</i>
    </button>
  </div>
</div>
<br>
<div *ngIf = "dataSource && listView">
  <div [@load]>
    <mat-table [dataSource] = "dataSource" class = "mat-elevation-z8">
      <!--    Select Column -->
      <ng-container matColumnDef = "select">
        <mat-header-cell *matHeaderCellDef> Select</mat-header-cell>
        <mat-cell *matCellDef = "let element">
          <mat-radio-group [(ngModel)] = "selectedReq">
            <mat-radio-button [value] = "element" color = "warn"
            ></mat-radio-button>
          </mat-radio-group>
        </mat-cell>
      </ng-container>

      <!-- Employee ID Column -->
      <ng-container matColumnDef = "empId">
        <mat-header-cell *matHeaderCellDef>Employee Id.</mat-header-cell>
        <mat-cell *matCellDef = "let element"> {{ element.empId }} </mat-cell>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef = "DOB">
        <mat-header-cell *matHeaderCellDef>Date of Birth</mat-header-cell>
        <mat-cell *matCellDef = "let element"> {{ element.DOB }} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef = "empName">
        <mat-header-cell *matHeaderCellDef>Employee Name</mat-header-cell>
        <mat-cell
          *matCellDef = "let element"> {{ element.empName }} </mat-cell>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef = "empEmail">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell
          *matCellDef = "let element"> {{ element.empEmail }} </mat-cell>
      </ng-container>

      <!-- IsAdim Column -->
      <ng-container matColumnDef = "isAdmin">
        <mat-header-cell *matHeaderCellDef>Admin?</mat-header-cell>
        <mat-cell *matCellDef = "let element"> {{ element.isAdmin }}
        </mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef = "adminStatus">
        <mat-header-cell *matHeaderCellDef>Admin Status</mat-header-cell>
        <mat-cell *matCellDef = "let element"> {{ element.adminStatus }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef = "displayedColumns"></mat-header-row>
      <mat-row *matRowDef = "let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator (page) = "updateTable($event)" [length] = "emps.length"
                   [pageSizeOptions] = "[25,50,100]" [pageSize] = "25"
                   color = "primary"
                   showFirstLastButtons></mat-paginator>
    <br>
    <br>
    <div class = "text-center">
      <button (click) = "changeAdmin(true)" [disabled] = "!selectedReq"
              [textContent] = "'Approve'" color = "primary" mat-raised-button>
      </button>
      &nbsp; &nbsp;
      <button (click) = "changeAdmin(false)" [disabled] = "!selectedReq"
              [textContent] = "'Decline'" color = "accent" mat-raised-button>
      </button>
    </div>
  </div>
</div>
<div *ngIf = "dataSource && !listView">
  <mat-grid-list cols = 3 gutterSize = "1" rowHeight = "1:1.55">
    <mat-grid-tile *ngFor = "let e of emps" [@load]>
      <app-employee-card [emp] = e
                         [matBadge] = "e.adminStatus === 'Pending' ? '1': ''"
                         matBadgeColor = "warn" matBadgePosition = "above after"
                         matBadgeSize = "large">
      </app-employee-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<br><br>
