<div *ngIf = "leaves" [@load]>
  <mat-accordion>
    <mat-expansion-panel *ngFor = "let req of this.leaves"
                         [matBadge] = "req.approved? '':'1'"
                         matBadgeColor = "warn"
                         style = "margin-top: 4px;">
      <mat-expansion-panel-header>
        <mat-panel-title>{{req.uName}}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class = "text-left">
        Leave Content

        <mat-action-row>
          <mat-action-list>
            <button (click) = "changeStatus(req, true)"
                    color = "accent"
                    mat-raised-button>
              Approve
            </button>

            <button (click) = "changeStatus(req, false)"
                    color = "warn"
                    mat-raised-button>
              Decline
            </button>
          </mat-action-list>
        </mat-action-row>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
