<br>
<mat-grid-list cols = "3" gutterSize = "20" rowHeight = "1:0.75">
  <mat-grid-tile class = "tile mat-elevation-z8" colspan = "2" rowspan = "1">
    <mat-grid-tile-header
      style = "background: rgb(255,215,64); color: rgb(0,0,0); font-weight: bold; height:10%;">
      Company's Vision
    </mat-grid-tile-header>
    <div style = "margin: 2%;">
      <app-vision></app-vision>
    </div>
  </mat-grid-tile>

  <mat-grid-tile class = "mat-elevation-z8 tile" colspan = "1" rowspan = "2">
    <mat-grid-tile-header
      style = "background: rgb(255,215,64); color: rgb(0,0,0); font-weight:
      bold; height:5%;">
      Company News
    </mat-grid-tile-header>
    <app-news
      style = "overflow-y: auto; height: auto; margin-top: 5%; width:95%;">
    </app-news>
  </mat-grid-tile>

  <mat-grid-tile class = "tile mat-elevation-z8" colspan = "1" rowspan = "1">
    <mat-grid-tile-header
      style = "background: rgb(255,215,64); color: rgb(0,0,0);
      font-weight:bold; height:10%;">
      Updates
    </mat-grid-tile-header>
    <div *ngIf = "(empReq + timeReq + leaveReq) > 0 && isAdmin" style = "width:
     100%; height: 75%; overflow-y: auto;">
      <p *ngFor = "let r of stringRequests" [routerLink] = "['/admin']"
         class = "mat-raised-button"
         style = "cursor:pointer; width: 100%; text-align:
         center; border: black 1px solid; border-radius: 5px;">
        {{r + "\n"}}
      </p>
    </div>
    <div *ngIf = "(empReq + timeReq + leaveReq) === 0 || !isAdmin">
      <mat-card class = "mat-elevation-z0">You have no updates at this time!
      </mat-card>
    </div>
    <mat-grid-tile-footer
      *ngIf = "isAdmin && (empReq + timeReq + leaveReq) > 0"
      style = "background: rgb(255,215,64); color: rgb(0,0,0);
                          font-weight: bold; height: 14%;">
      <button [routerLink] = "['/admin']" mat-button
              style = "width: 100%; text-align: right; color: rgb(0,0,0); font-weight: bold;">
        Check Updates ->
      </button>
    </mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile class = "mat-elevation-z8 tile" colspan = "1" rowspan = "2">
    <mat-grid-tile-header
      style = "background: rgb(255,215,64); color: rgb(0,0,0); font-weight:
      bold; height:5%;">
      Profile
    </mat-grid-tile-header>
    <app-employee-card *ngIf = "employee" [controls] = "false"
                       [emp] = "employee"
                       [shadow] = "false" style = "width: 100%;
                         height: 95%; margin-top: 10%;">
    </app-employee-card>
    <mat-grid-tile-footer
      style = "background: rgb(255,215,64); color: rgb(0,0,0); font-weight: bold;
      height:7%;">
      <button (click) = "openDetails()" mat-button
              style = "width: 100%; height: 100%; text-align: right; color:
              rgb(0,0,0);              font-weight: bold;">
        See More ->
      </button>
    </mat-grid-tile-footer>
  </mat-grid-tile>


  <mat-grid-tile class = "mat-elevation-z8 tile" colspan = "1" rowspan = "1">
    <mat-grid-tile-header
      style = "background: rgb(255,215,64); color: rgb(0,0,0); font-weight: bold; height:10%;">
      Work This Week
    </mat-grid-tile-header>
    <div style = "width: 100%; height: 90%; margin-top: 20%;">
      <fusioncharts
        [dataSource] = "dataSource"
        dataFormat = "json"
        height = "70%"
        type = "angulargauge"
        width = "100%"
      ></fusioncharts>
    </div>
    <mat-grid-tile-footer
      style = "background: rgb(255,215,64);
       color: rgb(0,0,0); font-weight: bold; height: 14%;">
      <button [routerLink] = "['/time-sheet']"
              mat-button
              style = "text-align: right; width: 100%; color: rgb(0,0,0); font-weight: bold;">
        Log Work ->
      </button>
    </mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile class = "mat-elevation-z8 tile" colspan = "1" rowspan = "1">
    <mat-grid-tile-header
      style = "background: rgb(255,215,64); color: rgb(0,0,0); font-weight:
      bold; height:10%;">
      Coming
      Soon...
    </mat-grid-tile-header>
  </mat-grid-tile>
</mat-grid-list>
