<div [@load] style = "margin-top: 10vh;">
  <div class = "text-xl-center">
    <img class = "image" mat-card-sm-image
         src = "assets/background_square.jpg">

    <h1>Welcome to {{ companyName }}</h1>

    <br>

    <form #f = "ngForm" (ngSubmit) = "onSubmit()">

      <mat-form-field appearance = "standard">
        <mat-label>Email</mat-label>
        <input [(ngModel)] = "email"
               email
               matInput
               name = "email"
               placeholder = "abc@def.com"
               required
               type = "email">
      </mat-form-field>

      <br>

      <mat-form-field appearance = "standard">
        <mat-label>Password</mat-label>
        <input [(ngModel)] = "password" matInput
               minlength = "6"
               name = "password"
               password
               placeholder = "******"
               required
               type = "password">
      </mat-form-field>

      <br>
      <br>
      <div>
        <button [disabled] = "!f.valid"
                [textContent] = "'Login'"
                color = "accent"
                mat-raised-button
                type = "submit"></button>
        &nbsp;
        <button [textContent] = "'Sign-up'"
                color = "warn"
                mat-raised-button
                routerLink = "/signUp"
                type = "button"></button>
      </div>
    </form>
  </div>
</div>
