/* You can add global styles to this file, and also import other style files */

@import "theme/themes";
@import "theme/colors";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  height: 200px;
}

.company_logo {
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.example-spacer {
  flex: 1 1 auto;
}

.logout_btn {
  color: red;

}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
