
.approved {
  background: rgba(204, 255, 204, 0.3);
  border: 1px solid rgb(0, 100, 0);
}

.declined {
  background: rgba(255, 204, 204, 0.3);
  border: 1px solid rgb(139, 0, 0);
}

.error {
  background: rgba(255, 204, 204, 0.3);
  border: 5px solid rgb(139, 0, 0);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.half {
  width: 50%;
}


.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}

.tile {
  border-radius: 10px;
}


