
.approved {
  background: rgba(204, 255, 204, 0.3);
  border: 1px solid rgb(0, 100, 0);
}

.declined {
  background: rgba(255, 204, 204, 0.3);
  border: 1px solid rgb(139, 0, 0);
}

.approved-acc {
  color: black;
  background: limegreen;
}

.declined-acc {
  color: white;
  background: orangered;
}

.error {
  background: rgba(255, 204, 204, 0.3);
  border: 5px solid rgb(139, 0, 0);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.half {
  width: 50%;
}


.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content: center;
}

.tile {
  border-radius: 10px;
}


.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

