<mat-accordion>
  <mat-expansion-panel *ngFor = 'let req of leaves'
                       [matBadge] = "!req.approved ? '1':''"
                       matBadgeColor = 'warn'
                       style = 'margin-top: 4px;'>
    <mat-expansion-panel-header>
      <mat-panel-title>{{req.uName}}'s Leave Request</mat-panel-title>
      <mat-panel-description class = 'text-left'>From:
        {{req.startDate.toDate() | date}} to
        {{req.endDate.toDate() | date}}&nbsp;&nbsp;Days: {{DaysBetween(req.startDate.toDate(), req.endDate.toDate())}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class = 'text-left'>
      Type: {{req.type}}
      <br>
      Reason: {{req.reason}}
      <br>
      Status:
      <a
        [style] = "req.approved ? 'color: green':'color: red'">{{req.approved ?
        "Approved" : "Pending"}}</a>

      <div class = 'text-right'>
        <button (click) = 'changeStatus(req, true)'
                *ngIf = '!req.approved'
                color = 'accent'
                mat-raised-button>
          Approve
        </button>
        &nbsp;
        <button (click) = 'changeStatus(req, false)'
                *ngIf = 'req.approved'
                color = 'warn'
                mat-raised-button>
          Decline
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
