/* For use in src/lib/core/theming/_palette.scss */
$mat-caribbean-green: (
  50 : #e1faf4,
  100 : #b4f3e3,
  200 : #83ebd0,
  300 : #51e2bd,
  400 : #2bdcae,
  500 : #06d6a0,
  600 : #05d198,
  700 : #04cc8e,
  800 : #03c684,
  900 : #02bc73,
  A100 : #e5fff3,
  A200 : #b2ffdd,
  A400 : #7fffc6,
  A700 : #65ffbb,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-par-pink: (
  50 : #fde9ee,
  100 : #fac8d4,
  200 : #f7a3b7,
  300 : #f47e9a,
  400 : #f16385,
  500 : #ef476f,
  600 : #ed4067,
  700 : #eb375c,
  800 : #e82f52,
  900 : #e42040,
  A100 : #ffffff,
  A200 : #ffe8eb,
  A400 : #ffb5c0,
  A700 : #ff9caa,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-char-green: (
  50 : #e5e6e6,
  100 : #bec0c0,
  200 : #939696,
  300 : #686c6c,
  400 : #474d4d,
  500 : #272d2d,
  600 : #232828,
  700 : #1d2222,
  800 : #171c1c,
  900 : #0e1111,
  A100 : #56ffff,
  A200 : #23ffff,
  A400 : #00f0f0,
  A700 : #00d6d6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-orange-yellow: (
  50 : #fff9ed,
  100 : #fff1d1,
  200 : #ffe8b3,
  300 : #ffdf94,
  400 : #ffd87d,
  500 : #ffd166,
  600 : #ffcc5e,
  700 : #ffc653,
  800 : #ffc049,
  900 : #ffb538,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff3e1,
  A700 : #ffe9c8,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-medium-blue: (
  50 : #e7e5f9,
  100 : #c4bff0,
  200 : #9d94e6,
  300 : #7669db,
  400 : #5848d4,
  500 : #3b28cc,
  600 : #3524c7,
  700 : #2d1ec0,
  800 : #2618b9,
  900 : #190fad,
  A100 : #dedcff,
  A200 : #ada9ff,
  A400 : #7c76ff,
  A700 : #645dff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$mat-crayola-blue: (
  50 : #e3f3f9,
  100 : #b8e2f0,
  200 : #89cfe7,
  300 : #59bcdd,
  400 : #36add5,
  500 : #129fce,
  600 : #1097c9,
  700 : #0d8dc2,
  800 : #0a83bc,
  900 : #0572b0,
  A100 : #dbf0ff,
  A200 : #a8dbff,
  A400 : #75c7ff,
  A700 : #5bbcff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

/* For use in src/lib/core/theming/_palette.scss */
$mat-rich-black: (
  50 : #e2e4e5,
  100 : #b6bbbf,
  200 : #868d95,
  300 : #565f6a,
  400 : #313d4a,
  500 : #0d1b2a,
  600 : #0b1825,
  700 : #09141f,
  800 : #071019,
  900 : #03080f,
  A100 : #528bff,
  A200 : #1f69ff,
  A400 : #004eeb,
  A700 : #0046d1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-platinum: (
  50 : #fbfbfb,
  100 : #f6f6f5,
  200 : #f0f0ee,
  300 : #e9eae7,
  400 : #e5e6e2,
  500 : #e0e1dd,
  600 : #dcddd9,
  700 : #d8d9d4,
  800 : #d3d5cf,
  900 : #cbcdc7,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-dazzle-blue: (
  50 : #e8ebef,
  100 : #c6ced6,
  200 : #a0adbb,
  300 : #7a8ca0,
  400 : #5e738b,
  500 : #415a77,
  600 : #3b526f,
  700 : #324864,
  800 : #2a3f5a,
  900 : #1c2e47,
  A100 : #89b6ff,
  A200 : #5697ff,
  A400 : #2378ff,
  A700 : #0968ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);


