<mat-toolbar>
  <span class = 'example-spacer'></span>
  <app-theme-changer [xPos] = '"before"' class = 'text-right'></app-theme-changer>
</mat-toolbar>
<button (click) = 'test(true)' color = 'primary' mat-raised-button>Open</button><br>
<button (click) = 'test(false)' color = 'warn' mat-raised-button>Close</button>
<div class = 'text-center'>
  <img alt = 'Company Image'
       class = 'company_logo'
       src = 'assets/logos/SEMS_Logo.png'
       style = 'margin-top: 10vh;'>
  <br>

  <h1>Welcome to {{ companyName }}</h1>

  <br>

  <form #f = 'ngForm' (ngSubmit) = 'onSubmit()'>

    <mat-form-field appearance = 'standard'
                    style = 'width: 20vw;'>
      <mat-label>Email</mat-label>
      <!--suppress HtmlFormInputWithoutLabel -->
      <input [(ngModel)] = 'email'
             email
             matInput
             name = 'email'
             placeholder = 'abc@def.com'
             required
             type = 'email'>
    </mat-form-field>

    <br>

    <mat-form-field appearance = 'standard'
                    style = 'width: 20vw;'>
      <mat-label>Password</mat-label>
      <!--suppress HtmlFormInputWithoutLabel -->
      <input [(ngModel)] = 'password' matInput
             minlength = '6'
             name = 'password'
             password
             placeholder = '******'
             required
             type = 'password'>
    </mat-form-field>

    <br>
    <div class = 'text-center'>
      <recaptcha
        [(ngModel)] = 'recaptcha'
        name = 'recaptcha'
        required
        style = 'display: inline-block;'>
      </recaptcha>
    </div>


    <br>
    <br>

    <button [disabled] = '!f.valid'
            color = 'primary'
            mat-raised-button
            style = 'width: 9vw;'
            type = 'submit'>
      Login
    </button>
    &nbsp;
    <button color = 'accent'
            mat-raised-button
            routerLink = '/signUp'
            style = 'width: 9vw;'
            type = 'button'>
      Sign Up
    </button>

  </form>

  <br>
  <b>Or</b>
  <br>
  <br>
  <button (click) = "loginWith('google')" color = 'warn' mat-fab>
    <mat-icon svgIcon = 'logo-google'></mat-icon>
  </button> &nbsp;
  <button (click) = "loginWith('facebook')" color = 'primary' disabled
          mat-fab>
    <mat-icon svgIcon = 'logo-facebook'></mat-icon>
  </button> &nbsp;
  <button (click) = "loginWith('github')" color = 'light' disabled
          mat-fab>
    <mat-icon svgIcon = 'logo-github'></mat-icon>
  </button>
</div>
