<div [@load] class = 'text-center'>

  <hr>
  <!--  <button color='accent'-->
  <!--          class = 'w-25'-->
  <!--          disabled-->
  <!--          mat-raised-button-->
  <!--          routerLink = 'time-req'-->
  <!--          routerLinkActive = 'selected'>-->
  <!--    Work Logs-->
  <!--  </button>-->
  <!--  &nbsp;&nbsp;-->
  <button color = 'accent'
          class = 'w-25'
          mat-raised-button
          routerLink = 'leave-req'
          routerLinkActive = 'selected'>
    Leave Requests
  </button>
  &nbsp;&nbsp;
  <button color = 'accent'
          class = 'w-25'
          mat-raised-button
          routerLink = 'users'
          routerLinkActive = 'selected'>
    Users
  </button>
  <hr>
  <br>
  <br>
  <router-outlet></router-outlet>
</div>
