@import '~@angular/material/theming';
@import "colors";

@include mat-core();


.classic-theme {
  $primary: mat-palette($mat-blue-grey, 500, 100, 700);
  $accent: mat-palette($mat-pink, 500, 100, 700);
  $warn: mat-palette($mat-deep-orange, 500, 100, 700);

  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);
}

.dark-theme {
  $primary: mat-palette($mat-rich-black, 500, 100, 700);
  $accent: mat-palette($mat-platinum, 500, 100, 700);
  $warn: mat-palette($mat-par-pink, 500, 100, 700);

  $theme: mat-light-theme($primary, $accent, $warn);
  @include angular-material-theme($theme);
}

.byg-theme {
  $byg-primary: mat-palette($mat-blue, 500, 100, 700);
  $byg-accent: mat-palette($mat-yellow, 500, 100, 700);
  $byg-warn: mat-palette($mat-green, 500, 100, 700);
  $byg-theme: mat-light-theme($byg-primary, $byg-accent, $byg-warn);
  @include angular-material-theme($byg-theme);
}

.rgb-theme {
  $rgb-primary: mat-palette($mat-caribbean-green, 500, 100, 700);
  $rgb-accent: mat-palette($mat-crayola-blue, 500, 100, 700);
  $rgb-warn: mat-palette($mat-par-pink, 500, 100, 700);
  $rgb-theme: mat-light-theme($rgb-primary, $rgb-accent, $rgb-warn);
  @include angular-material-theme($rgb-theme);
}

.charleston-theme {
  $a-primary: mat-palette($mat-char-green, 500, 100, 700);
  $a-accent: mat-palette($mat-orange-yellow, 500, 100, 700);
  $a-warn: mat-palette($mat-medium-blue, 500, 100, 700);
  $theme: mat-light-theme($a-primary, $a-accent, $a-warn);
  @include angular-material-theme($theme);
}
